@tailwind base;
@tailwind components;
@tailwind utilities;

.checkmark {
  position: relative;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: rgb(59, 130, 246);
  border-color: rgb(59, 130, 246);
}

input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}
